/* smooth scroll and default font size set */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* default wrapper - DO NOT CHANGE */
.wrapper {
    width: 80%;
    max-width: 1050px;
    margin: 0 auto;
}

/* removes default padding and margins*/
body,
ul,
ol,
li,
h1,
h2,
h3,
button,
p {
	margin: 0;
    padding: 0;
}

/* removes list style bullets */
li {list-style: none;}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
        &:hover,
        &:focus {
            color: #ff5890;
            border-bottom: 1px solid #ff5890;
    }
}

button {
    background-color: inherit;
    font-family: inherit; 
    font-weight: 700;
    color: white; 
    cursor: pointer;    
    transition: all 0.2s;
    margin: 0 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
}

img {display: block;} 

input {   
    border: none;
    &:active,
    &:focus {
        border-radius: 5px;
        border: 2px solid #ffd900;
    }
} 

p {line-height: 2.6rem;} 

body { 
    position: relative; 
    color: white;
    font-size: 2rem;
    font-family: 'Sen', sans-serif;
    min-width: 320px; 
} 