/* smooth scroll and default font size set */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* default wrapper - DO NOT CHANGE */
.wrapper {
    width: 80%;
    max-width: 1050px;
    margin: 0 auto;
}

/* removes default padding and margins*/
body,
ul,
ol,
li,
h1,
h2,
h3,
button,
p {
	margin: 0;
    padding: 0;
}

/* removes list style bullets */
li {list-style: none;}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
        &:hover,
        &:focus {
            color: #ff5890;
            border-bottom: 1px solid #ff5890;
    }
}

img {display: block;}

button {
    background-color: inherit;
    font-family: inherit; 
    font-weight: 700;
    color: white; 
    cursor: pointer;    
    transition: all 0.2s;
    margin: 0 10px;
}

input,
button {border: none;} 

p {line-height: 2.6rem;} 