@import 'setup';
@import 'global';

body { 
    position: relative;
    color: white;
    font-size: 2rem;
    font-family: 'Sen', sans-serif;
    min-width: 320px; 
} 

body,
.fullscreen-enabled {
    background-image: url(./assets/treeBackground1.png);
    background-repeat: repeat-x;
    background-position: top;   
    background-color: #70c08b;
}

main {
    background-image: url(./assets/treeBackground2.png);
    background-repeat: repeat-x;
    background-position: bottom;   
    position: relative;
    text-align: center;  
    min-height: 100vh;   
}

footer {   
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: #202020;
    font-size: 1.4rem;
    font-weight: 700;  
    background-color: #f0f0f0; 
    padding: 15px;
    p {line-height: 1.3rem;}
    a {color: #ff5890;}
} 

h1, h2, h3 {
    font-weight: 400;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 1px;
    margin-bottom: 20px; 
}

h1, h2, h3 {text-shadow: 3px 3px #ff5890;}

h1 {font-size: 4.8rem; } 
h2 {
    font-size: 4.4rem; 
    margin-bottom: 0;
} 

h1::first-letter {color: #ffd000;}
 
h3 { font-size: 2.6rem; } 

// All forms
form { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
    margin: 10px 0; 
}

// All inputs
input {  
    color: black;
    font-size: 3rem;  
    font-family: inherit;
    letter-spacing: 2px;
    text-align: center; 
    text-transform: lowercase;
    
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;

    width: 100%;
    margin-top: 10px;

    transition: all 0.2s;
        &:active,
        &:focus {
            border-radius: 5px;
            border: 2px solid #ffd900;
        }
} 

// Landing page component   
.landing,
.leaderboardComponent,
.game,
.gameOver,
.usernameForm {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.usernameForm {
    width: 100%;
    animation-duration: 0.4s;
}

.gameOver,
.usernameForm,
.landing {justify-content: center;}

.landing {animation-duration: 0.4s;}
.landingText {
    margin: 20px 0 30px 0;
    font-weight: 700; 
    font-size: 2.2rem;   
    p {margin-bottom: 5px;}
}

// Button styles
.buttonContainer {
    margin: 0 auto; 
    display: flex;  
    justify-content: center;
    width: 400px;
    button {width: 100%;}
    i {margin-left: 10px;}
}

.fullscreenButton {
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    font-size: 1.6rem;
    font-weight: 400;
    width: 200px;
    margin: 0 auto; 
    border-radius: 5px;
    z-index: 20;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
}

.redButton, .blueButton {
    padding: 10px 20px;
    border-radius: 5px; 
}

.redButton {  
    background-color: #d45594;
    border-bottom: 6px solid #b4487e;
    &:hover, 
    &:focus {
        background-color: #bd4e85; 
        border-bottom: 6px solid #a04271;
    } 
}

.blueButton {
    background-color: #61a0ff;
    border-bottom: 6px solid #4e85d6;
    &:hover, 
    &:focus {
        background-color: #548bdf;
        border-bottom: 6px solid #4678c4;  
    }
}

.homeButton {
    position: absolute;
    top: -50px;
    z-index: 20;
    margin: 0 auto;
    width: 170px;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent; 
        i { margin-right: 5px; }
        &:hover,
        &:focus {border-bottom: 1px solid white;}
}

.fullscreenToggle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    color: rgb(82, 82, 82);
    font-weight: 400;
    font-size: 1.6rem;

    width: 250px;
    margin: 0 auto;
    padding: 5px ;
    
    background-color: #ffffff99;
    border-radius: 5px;
    &:hover,
    &:focus {background-color:  #ffffffe6;} 
}

/* Leaderboard Style */ 
.leaderboardComponent { margin-top: 100px; }

.leaderboard { 
    position: relative; 

    width: 500px;
    margin: 10px auto 0 auto;

    border-radius: 5px;    
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    animation-duration: 0.4s;
        div {display: flex;}  
        h3 {margin-bottom: 0;}
} 

.headerBackground { 
    background-color: #ffd54a;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0 ;
 }

/* crown icon from font awesome */
.fa-crown {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;

    font-size: 3.6rem;
    color: #ffd000;
    text-shadow: 0px 0px 10px #00000052;
}

ol {
    color: black;  
    padding: 20px 30px 15px 30px; 
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0; 
        &:not(:last-of-type) {border-bottom: 1px solid #dddddd;}
} 

.rank, .score {font-weight: 700;}

.rank {
    text-align: left; 
    margin-right: 20px;
    width: 20px;
}

.score {
    color: #ff4281;
    font-size: 2.6rem;  
}

// Loading Message
.loading {
    padding-top: 100px;
    img {
        height: 50px;
        width: 50px;
        margin: 0 auto;  
        animation: rotation 3s linear infinite;
    }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
 
.game {margin-top: 50px;}

// Score and Timer bar
.counterBar { 
    color: black;
    font-weight: 700;
    width: 100%; 
    display: flex;
    justify-content: space-between;  
        span {font-weight: 600;}
} 

.pokemonContainer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plusOne {
    position: absolute;
    right: -30px;
    color: #ffd000;
    font-size: 2.4rem;
    animation-duration: 1s;
}

.pokedex, 
.timer { 
    position: relative; 
    text-align: right;

    width: 80px;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pokedex { 
    img {
        position: absolute;
        left: -10px;

        width: 40px;
        height: 40px;
        margin: 0; 
        padding: 8px;

        border-radius: 50%; 
        background-color: #ffd000;
    }
}

.timer {  
    justify-content: space-between; 
        i {
            position: absolute;
            left: -10px;

            font-size: 2.4rem;
            color: #c4934a;

            border-radius: 50%; 
            background-color: #ffd000;
            padding: 8px;
        }
} 

// Game styles
.error { 
    border: 1px solid tomato; 
    color: tomato; 
    animation-duration: 0.3s;
}

.speechBubble { 
    position: relative;
    z-index: 20;
    color: #202020;
    font-weight: 700;
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px;
        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            right: 0;
            left: 0;

            margin: 0 auto;
            width: 0;
            height: 0;

            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: white transparent transparent transparent;
        }
}

.pokemonName {
    font-weight: 700; 
    font-size: 3rem;
    letter-spacing: 1px; 
}

.imageContainer {
    position: relative; 

    height: 180px;
    width: 250px; 
    margin: 0 auto 20px auto;

    background-image: url(./assets/grass.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.pokemonImage { 
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    width: 200px;
    height: 200px;
    margin: 0 auto;  
}

// Game Over Component 
.endMessage {
    font-size: 3rem;
    font-weight: 700;
    margin: 40px 0;
        span {font-size: 2.6rem;}
}

.inputContainer {
    position: relative;
    margin-bottom: 50px;
    width: 350px;
}

.characterCount {
    position: absolute;
    right: 0; 
    font-size: 1.8rem;
    color: #3c3c3c;
} 

@media (max-width:568px) {
    .leaderboard { width: 100%; } 

    ol { padding: 20px 30px 15px 30px; }
}

// Media Queries - for phone 
@media (max-width:480px) {
    .wrapper {width: 90%;}

    main {
        background-size: 480%; 
        background-position: center; 
    } 

    form,
    button {width: 100%;}

    button { margin: 10px 0; } 

    h1 {font-size: 3.4rem} 

    .landingText { 
        margin: 10px auto 20px auto;
        p {line-height: 2rem;}
    }

    .landingText,
    button, 
    li { font-size: 1.8rem; }

    label { font-size: 1.6rem; }
    
    .buttonContainer {
        flex-direction: column;
        align-items: center;
        width: 150px;
    }  

    li { padding: 5px 0; } 

    .game {margin-top: 20px;}

    .score {font-size: 2.2rem;} 

    .speechBubble,
    .counterBar {   
        padding: 5px 10px;
        border-radius: 5px; 
    }

    .imageContainer {
        height: 130px;
        width: 200px;  
        margin-bottom: 0;
    }

    .pokemonImage { 
        width: 130px;
        height: 130px;  
    }   

    .pokemonContainer { height: 100%; }

    .pokemonName,
    input  { font-size: 2.4rem;}   

    .inputContainer {width: 80%;}

    .usernameForm button {width: 200px;}

    footer {font-size: 1.2rem;}
}    